:root {
	--albescent-white: #f6e6d4;
	--pickeled-bluewood: #2b4448;
	--cornflower-blue: #6e9be8;
	--cornflower: #85ADDE;
	--taupe: #352d29;

	--fs-h1: 1.5rem;
	--fs-h2: 2.5rem;	
	--fs-h3: 1.75rem;
	--fs-h4: 1.25rem;

 }

 /* Universal element to remove any defaualt browser settings and set text color. */
 /* * {
	 box-sizing: border-box;
	 list-style-type: none;
	 color: var(--albescent-white);
 }
 
 html {
	 background-color: var(--pickeled-bluewood); 
 } 

 body {
	font-family: Optima;
 } 

 h1 { 
	 font-size: var(--fs-h1);
	 color: var(--taupe);
 }
 h2 { font-size: var(--fs-h2); }
 h3 { 
	 font-size: var(--fs-h3);
	 text-align: center;
	 padding: 40px;
}
 h4 { font-size: var(--fs-h4); } */

/* Format for header. */

 .nav li{
	margin: 10px;
	float: right;
 }

 /* Intro Section */
/* .intro h2 {
	 font-weight: 300;
	 padding-left: 50px;
 }

strong {
	font-weight: bold;
	display: block;
	color: var(--cornflower-blue);
	font-family: monospace;
	font-size: 3rem;
} */

.intro-photo {
	 width: 275px;
	 height: 350px;
	 object-fit: cover;
	 border-radius: 70px 70px 5px 5px;
	 margin-left: 150px;
	 box-shadow: 10px 10px 5px var(--cornflower-blue);
 }

/* .intro {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
} */


/* Services section */
.services {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: var(--taupe);
	color: var(--albescent-white);
	padding: 20px;
}

.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;	
	text-align: center;

}

.icons img {
	width: 80px;
	height: 80px;
	margin: 20px;
}

 

/* About Section */

.about-photo {
	width: 400px;
	height: 500px;
	object-fit: cover;
	border-radius: 90px 90px 5px 5px;
	box-shadow: 10px 10px 5px var(--cornflower-blue);
}

/* .info {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 100px;
	margin-right: 100px;
}

.info p {
	font-size: 1.3rem;
	text-align: center;
	margin: 8px;
}  */

/* Work Section */
.box {
	height: 200px;
	border: 3px solid var(--taupe);
	font-weight: bold;
	margin: 18px;
}

.box img {
	position: relative;
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

.box .text {
	position: absolute;
	background-color: var(--taupe);
	color: var(--albescent-white);
	padding: 20px;
	z-index: 1;
 }

.box:hover {
	box-shadow: inset 0px 0px 10px var(--cornflower-blue), 0 0 15px var(--cornflower-blue);
 }

@media screen and (min-width: 768px) {
	.work {
		display: flex;
		flex-wrap: wrap;
	}

	.box {
		flex: 1 1 45%;
	}

	.box-featured {
		flex: 0 1 100%;
	}
} */

/* Contact Section */
.contact {
	margin-top: 40px;
	background-color: var(--cornflower-blue);
} 

.contact h3 {
	padding: 0;
	background-color: var(--taupe);
	color: var(--albescent-white);
	margin-bottom: 30px;
}

.social-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;	
	text-align: center;

}

.social-item img {
	width: 80px;
	height: 80px;
	margin: 20px;
}


