:root {
	--crater-brown: #422425;
	--brandy-rose: #B78786;
	--pearl-blush: #E4D9CB;
	--kabul: #5C503D;
 }
 
 * {
	 background-color: var(--pearl-blush);
	 color: var(--crater-brown);
 }

 body {
	font-family: Optima;
 } 

 h1 {
	 font-size: 20px;
 }

/* Format for header. */
header {
	width: 96%;
	margin: 10px;
	text-align: center;
 }
 
 header nav ul li {
	display: inline-block;
	margin: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 20px;
 }

 .intro-photo {
	 width: 200px;
	 height: 250px;
	 object-fit: cover;
	 border-radius: 70px 70px 5px 5px;
 }

 .about-photo {
	width: 300px;
	height: 400px;
	object-fit: cover;
	border-radius: 90px 90px 5px 5px;
}



