:root {
	--crater-brown: #422425;
	--brandy-rose: #B78786;
	--pearl-blush: #E4D9CB;
	--kabul: #5C503D;

	--fs-h1: 1.5rem;
	--fs-h2: 2.5rem;	
	--fs-h3: 1.75rem;
	--fs-h4: 2rem;

 }
 
 * {
	 background-color: var(--pearl-blush);
	 color: var(--crater-brown);
 }

 body {
	font-family: Optima;
 } 

 h1 { font-size: var(--fs-h1) }
 h2 { font-size: var(--fs-h2) }
 h3 { font-size: var(--fs-h3) }
 h4 { font-size: var(--fs-h4) }

/* Format for header. */
header {
	width: 96%;
	margin: 10px;
	text-align: center;
 }
 
 header nav ul li {
	display: inline-block;
	margin: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 20px;
 }

 .intro-photo {
	 width: 200px;
	 height: 250px;
	 object-fit: cover;
	 border-radius: 70px 70px 5px 5px;
 }

 .about-photo {
	width: 300px;
	height: 400px;
	object-fit: cover;
	border-radius: 90px 90px 5px 5px;
}

.box {
	height: 150px;
	border: 3px solid black;
	color: white;
	font-weight: bold;
	background-color: var(--brandy-rose);
	margin: 10px;
}

@media screen and (min-width: 768px) {
	.work {
		display: flex;
		flex-wrap: wrap;
	}

	.box {
		flex: 1 1 45%;
	}

	.box-featured {
		flex: 0 1 100%;
	}
}
