:root {
	--crater-brown: #422425;
	--brandy-rose: #B78786;
	--pearl-blush: #E4D9CB;
	--kabul: #5C503D;

	--fs-h1: 1.5rem;
	--fs-h2: 2.5rem;	
	--fs-h3: 1.75rem;
	--fs-h4: 1.25rem;

 }
 
 * {
	 color: var(--crater-brown);
 }

 html {
	 background-color: var(--pearl-blush);
 }
 body {
	font-family: Optima;
 } 

 h1 { font-size: var(--fs-h1); }
 h2 { font-size: var(--fs-h2); }
 h3 { 
	 font-size: var(--fs-h3);
	 text-align: center;
	 padding-top: 40px;
}
 h4 { font-size: var(--fs-h4); }

/* Format for header. */
header {
	width: 100%;
	text-align: center;
	border: #E4D9CB;
	padding: 10px;
	background-color: var(--brandy-rose);
 }
 
 header nav ul li {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 30px;
 }

 /* Intro Section */
 .intro h2 {
	 font-weight: 300;
	 padding-left: 50px;
 }

strong {
	font-weight: bold;
	display: block;
}

 .intro-photo {
	 width: 300px;
	 height: 350px;
	 object-fit: cover;
	 border-radius: 70px 70px 5px 5px;
	 margin-left: 150px;
 }

.intro {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
}

/* About Section */
.about-photo {
	width: 400px;
	height: 500px;
	object-fit: cover;
	border-radius: 90px 90px 5px 5px;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 100px;
	margin-right: 100px;
}

/* Services section */
.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;	
}

.icons img {
	width: 80px;
	height: 80px;
}

 
/* Work Section */

.box {
	height: 150px;
	border: 3px solid black;
	color: white;
	font-weight: bold;
	background-color: var(--brandy-rose);
	margin: 10px;
}

.box:hover {
	box-shadow: inset 0px 0px 8px var(--kabul), 0 0 15px var(--kabul);
 }

@media screen and (min-width: 768px) {
	.work {
		display: flex;
		flex-wrap: wrap;
	}

	.box {
		flex: 1 1 45%;
	}

	.box-featured {
		flex: 0 1 100%;
	}
}
